@model movie_portal.Models.Media.MediaDTO
@{
    ViewData["Title"] = "Добавление фильма";
}

<style>
    input[type='number'] {
        -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
</style>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            @ViewData["Title"]
        </div>
    </div>
    <a></a>
    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <img src="" id="photo" style="max-width: 20rem; max-height: 20rem" alt="">
            </div>
            <div class="form-group">
                <label asp-for="ImageFile"></label>
                <input id="photo-input" asp-for="ImageFile" type="file" accept="image/*" class="form-control-file">
            </div>
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Director"></label>
                <input asp-for="Director" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear"></label>
                <input asp-for="ReleaseYear" type="number" min="1" max="9999" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="GenresId"></label>
                <select multiple asp-for="GenresId" asp-items="Model.Genres" class="selectpicker"></select>
            </div>
            <div class="form-group">
                <label asp-for="MediaFiles"></label>
                <input asp-for="MediaFiles" type="file" multiple accept="video/*" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>
</div>


@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $(document).ready(() => {
        $('select').select()


        const fileInputEl = document.getElementById('photo-input');
        const photoEl = document.getElementById('photo');


        fileInputEl.onchange = () => {
            const file = fileInputEl.files[0];
            const reader = new FileReader();

            reader.onload = () => {
                photoEl.src = reader.result;
            };

            reader.readAsDataURL(file);
        };
    });
</script>
}